    <footer>
        <div class="row">
          <div class="col-sm pt-3">
            <h3 class="ft-heading">UX.C</h3>
            <li><a href="how" title="How it works">How it works</a></li>
            <li><a href="pricing" title="Pricing">Pricing</a></li>
            <li><a href="blog" title="Blog">Blog</a></li>
            <li><a href="about" title="About">About</a></li>
          </div>

          <div class="col-sm pt-3">
              <h3 class="ft-heading">CONTACT</h3>
              <li><a href="mailto:{{ site.email }}" title="Send us an email">Organise a workshop</a></li>
              <li><a href="{{ site.twitter }}" title="Upcoming workshop">Upcoming workshops</a></li>
              <li><a href="{{ site.instagram }}" title="FAQ">Frequently Asked Questions</a></li>
              <li><a href="{{ site.instagram }}" title="Join Newsletter">Join Newsletter</a></li>
              <li><a href="{{ site.instagram }}" title="Core Team">Meet the core team</a></li>
          </div>

          <div class="col-sm pt-3">
              <h3 class="ft-heading">SUPPORT US</h3>
              <li><a href="{{ site.mentor }}" title="Become a mentor">Become a mentor</a></li>
              <li><a href="{{ site.support_us }}" title="Support us">Support us</a></li>
          </div> 

        <div class="col-sm pt-3">
                  <h3 class="ft-heading">LEGAL</h3>
                  <div class="social">
                    <li><a href="{{ site.terms }}" title="Terms & Conditions">Terms and conditions</a></li>
                    <li><a href="{{ site.privacy }}" title="Privacy">Privacy Policy</a></li>
                    <li><a href="{{ site.code }}" title="Code of Conduct">Code of Conduct</a></li>
        </div>
</div>
        <div class="sign-up">
            <span style="color: white;">Sign up for our newsletter</span><br>
        </div>
        <hr>
        <p class="lower-footer">
          <span>
            With lots of love and hugs from the UX on Campus team.<br>
            Proudly designed by <a href="https://instagram/uxkafui">uxKafui</a> & built by <a href="{{ site.dev }}" target="_blank">{{ site.dev_name }}</a>.
          </span>
        </p>
      </footer>
 