@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
}
.heading {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: #6700ca;
  padding-top: 100px;
  padding-bottom: 37px;
}
.text-left {
  text-align: left;
}

.navbar {
  width: 90%;
  height: 15%;
  margin: auto;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  padding-left: 25%;
}

.navbar .btn {
  margin-left: 25%;
  color: white;
  width: 128px;
  height: 48px;
}
.navbar a {
  font-family: "Roboto";
  color: #6700ca;
}
.navbar a:link {
  color: #6700ca;
  text-decoration: none;
}

.navbar a:hover {
  color: #6700ca;
}

.btn {
  background-color: #6700ca;
}

.btn-get {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: white;
  background-color: #943ce7;
  width: 215px;
}

.btn-default {
  background-color: #6700ca;
  border-color: #6700ca;
  width: 148px;
  border-radius: 15px 15px 15px;
  line-height: 50px;
  color: white;
}
.btn-get a:link,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

.img-sf {
  padding-bottom: 15px;
  justify-content: left;
  display: flex;
}
.c-text {
  text-align: center;
}
.wresources {
  background-image: url("/static/img/resources.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px;
}
.wresources h5 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}
.wresources p {
  color: #cecece;
}

.wresources p,
h5,
#form {
  margin-left: 36px;
}

hr {
  color: white;
}

li {
  font-size: 16px;
  padding-bottom: 18px;
  list-style-type: none;
}

a {
  color: #cecece;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

footer {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #6700ca;
  overflow: hidden;
}

footer a:link {
  text-decoration: none;
}

.ft-heading {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: white;
}

.pad {
  width: 270px;
  margin-bottom: 40px;
}

.social {
  display: block;
  text-decoration: none;
}

.social a {
  padding-right: 9.9;
}

.sign-up {
  text-align: center;
  padding: 50px;
}

.lower-footer {
  font-size: 16px;
  text-align: center;
  color: white;
}

#form {
  width: 50%;
  height: 65px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
  background-color: white;
  padding: 12px;
  border-radius: 25px; 
}

input {
  flex-grow: 2;
  border: none;
  width: 458px;
  /* height: 30px; */
  border-radius: 25px;
}